fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
openai
qdrant-client

transformers
accelerate
torch
numpy
pandas
scikit-learn
scipy
onnxruntime
tiktoken

PyMuPDF
pymupdf4llm
annotated-doc

huggingface-hub
hf-xet

python-dotenv
PyYAML
requests
httpx
websockets
