--extra-index-url https://download.pytorch.org/whl/nightly/cu128
--pre

accelerate
annotated-doc
docx2txt
fastapi
hf-xet
httpx[http2]
huggingface-hub
langchain
langchain-community
langchain-classic
langchain-openai
langchain-ollama
langchain-qdrant
langchain-milvus
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
numpy
onnxruntime
openai
pandas
pymupdf
pymupdf4llm
python-dotenv
pyyaml
qdrant-client<1.16.0
requests
scikit-learn
scipy
tiktoken
torch
transformers
uvicorn[standard]
websockets
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
trl
peft
bitsandbytes
ollama
python-docx
pymilvus
pypdf
deepeval
chromadb
pymilvus[model]
redis
pydantic
psycopg[pool]
sqlmodel
asyncpg